

<form action="/admin/shedule/create" method="post">

<label for="email">First Name</label><input type="text"> <label for="email">Email</label><input type="email">
<br>
<label for="date">Schedule Date</label><input type="date" name="" id=""><label for="">Appointment Time</label><input type="time" name="" id="">

</form>