body{
    background: linear-gradient(to right, lightblue, rgb(135, 135, 248));
}


.container-fluid{
    display: block;
    width: 100%;
}
.navbar-center{
    padding-left: 12%;
}

ul li{
    font-size: 15px;
    padding-left: 10px;
}

.bi-person-circle{
    font-size: 40px;
}
.dash{
    text-transform: capitalize;
}

.card{
    display: block;
    margin: auto;
    padding-bottom: 5%;
    width: fit-content;
    height: fit-content;
}

.card-img-top{

    width: 100px; 
    display: block; 
    margin: auto;
}
.form-select{
    width: 50%;
    display: block;
    margin: auto;
}
.alert-warning{
    display: block;
    margin: auto;
}

th, td{
    border: 2px solid black;   
}
td{
    font-size: 15px;
    color: white;
}
.theading th{
    background-color: lightgreen;
    color: white;
    /* max-width: fit-content; */
}
.theading{
    text-transform: capitalize; 
}


@media screen and (max-width: 600px){
    .navbar-center{
        padding-left: 0;
    }
}

/* .table{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.table > div {
    flex: 1 1 calc(100%/3);
    box-sizing: border-box;
} */
@media (min-width: 350px) and (max-width: 768px) {
    .table > div {
        flex: 1 1 100%; 
    }
    th, td{
        border: 2px solid black;   
        font-size: 10px;
    }
    /* td{
        max-height: 20px; 
        overflow: hidden;
    } */
}